@model IEnumerable<LibraryBars.Models.Book>

@{
    ViewBag.Title = "UserBooks";
}

<h2>Мои книги</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator)
        </td>
        <td>
            @Html.ActionLink("Сдать книгу", "ReturnBook", new { id = item.BookId })
        </td>
    </tr>
}

</table>
